.subtitle1
{
	position: relative;
   text-align: center;
   border: 1px solid black;
  background-color: pink;
  width: 80px;
  height: 20px;
  font-family: algerian;
  color: black;
  float: right;
  
}
.subtitle2
{
	position: relative;
   text-align: center;
   border: 1px solid black;
  background-color: red;
  width: 80px;
  height: 20px;
  font-family: algerian;
  color: white;
  float: right;
}
.subtitle3
{
	position: relative;
   text-align: center;
   border: 1px solid black;
  background-color: yellow;
  width: 80px;
  height: 20px;
  font-family: algerian;
  color: black;
  float: right;
}
}

*{
	box-sizing: border-box;

}
	p{
  border: 1px solid black;
  background-color: grey;
  width: auto;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
  font-family: ink free;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
.row{
  width: 100%;

}
h1
{
	text-align: center;	
	font-family: broadway;
}

 
	@media(min-width: 992px){
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6
    {
    	float: left;
    }
    .col-lg-1{
    	width: 16.66%;
  }
    .col-lg-2{
    	width: 33%;
    }
	.col-lg-3{
		width: 49.99%;
		}
		.col-lg-4{
			width: 66.64%;
			}
			.col-lg-5{
				width: 83.33%;
				}
				.col-lg-6{
					width: 100%;
					}

				}
@media(min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6{
    	float: left;
    }
	 
    .col-md-1{
    	width: 16.66%;
    }
    .col-md-2{
    	width: 33.33%;
    }
	.col-md-3{
		width: 49.99%;
		}
		.col-md-4{
			width: 66.64%;
			}
			.col-md-5{
				width: 83.33%;
				}
				.col-md-6{
					width: 100%;
					}}